@charset "UTF-8";

    h1{

        font-family: Arial, Helvetica, sans-serif;
        color:chartreuse;
    }
     body{
         background-color: cornflowerblue;
     }
     fieldset{
         border: crimson;
         size: 2em;
         border: none;
         border-radius: 2px;
         margin-bottom: 12;
         overflow: hidden;
         padding: 0 10px;
     }